.chatapp-container{
    width: 100%;
    height: 100%;
    padding: 15px 15px 0 15px;
}

.chat-app{
    height: calc(100% - 40px);
}

/* chat app sidebar list*/
.chatapp-sidebar{
    width: var(--w-chatapp-sidebar);
    max-width: 400px;
    height: 100%;
    background-color: var(--c-blue-200);
    border-radius: 10px 0 0 0;
}

.chatapp-search-container{
    position: relative;
    margin: 15px 15px 25px 15px;
}

.chatapp-search-icon{
    position: absolute;
    top: 19px;
    left: 13px;
}

.chatapp-searchbar{
    width: 100%;
    height: var(--h-chatapp-searchbar);
    padding: 0 0 0 30px;
    color: var(--c-grey);
    background-color: var(--c-blue-300);
    border: dashed 1px var(--c-grey);
    border-radius: 6px;
    outline: none;
}

.chatapp-searchbar::placeholder {
    color: var(--c-grey)
}


.people-lists-container{
    height: calc(var(--h-full) - var(--h-chatapp-searchbar) - var(--h-chatapp-footer));
    overflow-y: auto;
}

.chatapp-people-list{
    display: flex;
    padding:  20px;
    color : var(--c-grey-100);
    font-family: var(--font-semibold);
    overflow-y: auto;
    border-bottom: 1px solid var(--c-blue-300)
}

.chatapp-profile-img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius:50%;
    border: 2px solid var(--c-grey);
    margin-right: 10px;
}

.chat-msg-container{
    width: 60%;
}

.chat-msg-content{
    font-size: 12px;
    color: var(--c-grey);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-time{
    font-size: 12px;
    margin-left: auto;
}

.chatapp-people-list:hover .chat-msg-title, 
.chatapp-people-list:hover .chat-time{
    color : var(--c-blue)
}










/* chatbar conversation area  */
.chatapp-conversation{
    height: 100%;
    width: var(--w-full);
    background-image: url("/Assets/images/chatapp-bg.png");
    border-radius: 0 10px 0 0;
}

















.chatapp-footer{
    height: var(--h-chatapp-footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}