
/* primary header styles  */

.primary-header{
    height: var(--h-header);
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    gap: 65px;
}

.logo-container{
    display: flex;
    gap: 10px;
    font-size: 24px;
    font-family: var(--font-bold);
    color: var(--c-white-100);
}

.search-bar{
    width: 370px;
    color: var(--c-grey);
    background-color: var(--c-blue-200);
    padding: 10px 10px 10px 35px;
    border: 1px solid rgba(53, 55, 68, 0.28);
    border-radius: 6px;
}

.search-bar:focus{
    outline: 1px solid var(--c-blue-100);
}

.search-bar::placeholder{
	color: var(--c-grey);
}

.search-bar:focus::placeholder{
    color: var(--c-blue-100)
}

.search-icon {
    position: absolute;
    left: 210px;
    top: 18px;
}

.header-icons-container{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: auto;
}

.search-icon-main{
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

/* country icon and dropdown  */
.selected-country{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


/* mail icon and dropdown  */
.mail-to-icon{
    font-size: 24px;
    vertical-align: middle;
    color: var(--c-grey);
}

.mail-to-dropdown{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 14rem;
    padding: 18px 20px;
    background-color: var(--c-blue-100);
    border-radius: 5px;
    position: absolute;
    top: 43px;
    right: 82px;
    z-index: 1;
    visibility: hidden;
}

.mail-to-dropdown:after{
    content: "";
    border-style: solid;
    border-width: 7px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--c-blue-100);
    border-left-color: transparent;
    position: absolute;
    top: -14px;
    right: 13px
}

.mail-to-user-list{
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.mail-to-profile-picture{
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 3px solid rgba(81, 83, 101, 0.28);
    border-radius: 10px;
}

.user-name{
    color: var(--c-grey-100);
}

.message-title{
    font-size: 10px;
    font-weight: 600;
    color: var(--c-grey);
}

.mail-to-user-list:hover .user-name{
    color: var(--c-white)
}

/* notification icon */
.notification-btn{
    position: relative;
}

.notification-icon{
    font-size: 22px;
    vertical-align: middle;
    color: var(--c-grey);
}

.notification-indicator{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1abc9c;
    position: absolute;
    top: 0;
    right: 0;
}

.notifications-dropdown{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 15rem;
    padding: 18px 20px;
    background-color: var(--c-blue-100);
    border-radius: 5px;
    position: absolute;
    top: 43px;
    right: 42px;
    z-index: 1;
    visibility: hidden;
}

.notifications-dropdown:after{
    content: "";
    border-style: solid;
    border-width: 7px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--c-blue-100);
    border-left-color: transparent;
    position: absolute;
    top: -13px;
    right: 12px;
}

.notification-dropdown-list{
    display: flex;
    align-items: center;
    gap: 15px;
}

.notification-title{
    font-size: 14px;
    font-weight: 500;
    color: var(--c-grey-100);
}

.notification-sub-msg{
    font-size: 12px;
    color: var(--c-grey)
}

.notification-dropdown-list:hover 
.notification-title{
    color: var(--c-white)
}

.server-icon{
    font-size: 28px;
    color: var(--c-green);
}

.heart-icon{
    font-size: 28px;
    color : var(--c-grey)
}

.file-icon{
    font-size: 28px;
    color: var(--c-red);
}

.notification-dropdown-list:hover 
.heart-icon{
    color : var(--c-blue);
}

.close-icon{
    font-size: 24px;
    color: var(--c-grey-100);
    margin-left: auto;
}

.close-icon:hover{
    color : var(--c-red)
}


/* user profile picture  */
.profile-picture{
    border-radius: 5px;
    object-fit: cover;
    vertical-align: middle;
}

.profile-dropdown{
    display: flex;
    flex-direction: column;
    width: 155px;
    padding: 12px 20px;
    background-color: var(--c-blue-100);
    border-radius: 5px;
    position: absolute;
    top: 43px;
    right: -10px;
    z-index: 1;
    visibility: hidden;
}

.profile-dropdown:after{
    content: "";
    border-style: solid;
    border-width: 7px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--c-blue-100);
    border-left-color: transparent;
    position: absolute;
    top: -13px;
    right: 18px;
}

.profile-dopdown-list{
    height: 45px;
    color: var(--c-grey-100);
    display: flex;
    align-items: center;
    gap: 14px;
}

.profile-dopdown-list:hover{
    color: var(--c-white)
}

