
/* secondary header styles  */
.secondary-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: var(--h-header);
    padding: 0 1.5rem;
    background-color: var(--c-secondary)
}

.sidebar-menu-button{
    vertical-align:middle;
    font-size: 28px;
}

.breadcrumb-link {
    display: inline-block;
    position: relative;
    color: var(--c-grey);
}

.active.breadcrumb-link{
    color: var(--c-white-100)
}

.breadcrumb-item:not(:last-child) .breadcrumb-link::before {
    content: '';
    width: 2px;
    height: 12px;
    background-color: var(--c-white-100);
    position: absolute;
    top: 4px;
    right: -10px;
    transform: skew(-20deg);
}

.settings-button{
    padding: 9px 14px;
    border: 1px solid var(--c-blue-600);
    border-radius: 8px;
}

