
/* secondary header styles  */

.secondary-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: var(--h-header);
    width: 100%;
    padding: 0 1.5rem;
    background-color: var(--c-secondary)
}

.secondary-header-inner-container{
    display: flex;
    align-items: center;
    gap: 18px;
}

.sidebar-menu-button{
    vertical-align:middle;
    font-size: 28px;
    color: var(--c-grey);
}

.breadcrumb-items{
    display: flex;
    gap: 20px;
}

.breadcrumb-link {
    display: inline-block;
    position: relative;
    color: var(--c-white-100);
}

.breadcrumb-item:not(:last-child) .breadcrumb-link::before {
    content: '';
    position: absolute;
    top: 4px;
    right: -10px;
    width: 2px;
    height: 12px;
    transform: skew(-20deg);
    background-color: var(--c-white-100);
}

.settings-container{
    position: relative;
}

.settings-button{
    margin-left: auto;
    color: var(--c-grey);
    padding: 9px 14px;
    border: 1px solid #3b3f5c;
    border-radius: 8px;
}

.settings-dropdown{
    position: absolute;
    width: 150px;
    background-color: var(--c-blue-300);
    color: var(--c-white-100);
    border-radius: 5px;
    right: 0;
    top: 45px;
    visibility: hidden;
}

.settings-dropdown-item{
    padding: 10px 20px;
}

.settings-dropdown-item:hover{
    background-color: var(--c-blue-400);
}

.settings-dropdown:after {
    content: "";
    position: absolute;
    top: -10px; 
    left: 50%;
    margin-left: 50px; 
    border-width: 5px;
    border-style: solid;
    border-top-color : transparent;
    border-right-color : transparent;
    border-bottom-color : var(--c-blue-300);
    border-left-color : transparent;
}
