.sidebar-container{
    width: var(--w-sidebar);
    height: calc(100vh - var(--h-header)*2);
    padding: 18px;
    background-color: var(--c-primary);
    border-right: 1px  solid var(--c-blue-200);
    position: fixed;
    left: 0;
    overflow-y: auto;
    transition: var(--slow-trans);
    z-index: 1;
}

.sidebar-container.sidebar-close{
    left: -230px;
}

.sidebar-menu-item{
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 12px;
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--c-blue-500);
    overflow: hidden;
}

.active .sidebar-menu-item{
    color: var(--c-white-100);
    background-color: var(--c-blue-600);
    border-radius: 5px;
}

.active .sidebar-icons{
    color: var(--c-white-100);
}

.sidebar-menu-item:hover{
    color: var(--c-white-100);
    background-color: var(--c-blue-400);
    border-radius: 5px;
}

.sidebar-menu-item:hover .sidebar-icons{
    color: var(--c-white-100);
}

.sidebar-icons{
    font-size: 20px;
    margin-right: 12px;
    color: var(--c-blue-500)
}

.sidebar-arrow{
    font-size: 20px;
    margin-left: auto;
}



/* accordian  */



.accordian .submenu {
    display: none;
}

.accordian.active .submenu {
    display: block;
}

.submenu-item{
    padding: 12px;
}

.submenu-item:hover{
    color: var(--c-white-100);
    background-color: var(--c-blue-400);
    border-radius: 5px;
}

.submenu-link{
    margin-left: 28px;
}
.submenu-link::before{
    display: inline-block;
    content: "";
    margin-right: 10px;
    border: 3px solid var(--c-blue);
    border-radius: var(--br-full);
    vertical-align: middle;
}