.sidebar-container{
    position: fixed;
    left: 0;
    height: calc(100vh - var(--h-header)*2);
    width: 220px;
    padding: 18px;
    overflow-y: auto;
    border-right: 1px  solid var(--c-blue-200);
    transition: var(--slow-trans);
}

.sidebar-menu-item{
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 4px;
    padding: 0 12px;
    color: var(--c-blue-600);
    
}

.active .sidebar-menu-item{
    font-family: var(--font-semibold);
    color: var(--c-white-100);
    background-color: var(--c-blue-400);
    border-radius: 5px;
}

.active .sidebar-icons{
    color: var(--c-white-100);
}

.sidebar-menu-item:hover{
    font-family: var(--font-semibold);
    color: var(--c-white-100);
    background-color: var(--c-blue-400);
    border-radius: 5px;
}

.sidebar-menu-item:hover .sidebar-icons{
    color: var(--c-white-100);
}


.sidebar-arrow{
    font-size: 20px;
    margin-left: auto;
}

.sidebar-icons{
    font-size: 20px;
    margin-right: 12px;
    color: var(--c-blue-500)
}

.list-item-main{
    display: flex;
    align-items: center;
}




.sidebar-accordian-items{
    overflow: hidden;
}

.sidebar-accordian-items {
    height: 0;
    transition: var(--default-trans);
}

.sidebar-menu-link {
    display: inline-block;
    padding: 10px 40px;
    font-size: 13px;
    color: var( --c-blue-600);
    position: relative;
    transition: var(--default-trans);
}

.sidebar-menu-link::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 25px;
    padding: 2px;
    border-radius: 100%;
    background-color: var(--c-blue-500);
}

.sidebar-menu-link:hover {
    color: var(--c-blue-500);
}

.sidebar-container.sidebar-close{
    left: -230px;
}