.app-notes-container{
    display: flex;
    height: calc(var(--h-screen) - var(--h-header)*2);
    padding-top: 20px;
}

.notes-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px;
    width: calc(var(--w-full));
    overflow-y: auto;
}

/* notes template  */
.note-card-template{
    flex:0 0 22%;
    width: 22%;
    height: 240px;
}

.note-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    gap: 30px;
    padding: 16px;
    background-color: var(--c-blue-200);
    border-radius: 6px 6px 0 0;
    border-bottom : 3px solid #4461ed;
}

.note-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.note-title{
    color: var(--c-blue)
}
.note-message{
    font-size: 15px;
    color: var(--c-grey-100)
}

.note-date{
    font-size: 12px;
}

.note-footer{
    display: flex;
    justify-content: space-between;
    color: var(--c-blue-600)
}

/* input popup styles   */
.popup-container{
    width: 30%;
    height: 35%;
    padding: 20px;
    background-color: var(--c-blue-200);
    border-radius: 6px;
}

.note-title-field{
    width: 100%;
    padding: 15px 10px;
    background-color: var(--c-blue-100);
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}

.note-msg-field{
    width: 100%;
    padding: 15px 10px;
    background-color: var(--c-blue-100);
    border: none;
    border-radius: 6px;
}