.notes-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 30px;
    width: var(--w-notes-sidebar);
}

.notes-menu{
    width: var(--w-full);
}


.notes-menu-link{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 40px;
    padding: 0 0 0 20px;
    transition: var(--fast-trans);
}

.filter.active{
    border-radius: 5px;
    background-color: var(--c-blue-200)
}

.tags-container{
    width: 100%;
}

.filter-indicator{
    width: 10px;
    height: 10px;
    border-radius: 6px;
    margin-right: 6px;
}