.btn{
    color: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-button{
    padding: 12px 25px;
    color: var(--c-white-100);
    background-color: var(--c-neonblue);
    border-radius: 5px;
}