:root{
    
    --c-primary : #060818;
    --c-secondary : #1a1c2d;


    --c-white : #ffffff;
    --c-white-100 : #e0e6ed;
    
    --c-grey : #888ea8;
    --c-grey-100 : #bfc9d4;

    /* searchbar color  */
    --c-blue-200 : #0e1726;

    /* primary dropdown colors  */
    --c-blue-100: #1b2e4b;

    /* secondary dropdown color */
    --c-blue-300: #191e3a;
    --c-blue-400: #282D49;

    /* sidebar text color  */
    --c-blue-500: #506690;
    --c-blue-600 : #374756;



    
    /* action colors  */
    --c-red: #E7515A;
    --c-green : #009688;
    --c-blue : #24C8D8;
    --c-neonblue: #4361EE;


    --c-shadow-white:#292c49;

}


.blue { color: #4361EE}
.orange { color: #E2A03F}
.red { color: #E7515A}