:root{
    /* primary navbar  */
    --c-primary : #060818;
    --c-secondary : #1a1c2d;
    --c-blue-100: #1b2e4b;
    --c-blue-200 : #0e1726;

    --c-grey : #888ea8;
    --c-grey-100 : #bfc9d4;

    --c-white-100 : #e0e6ed;
    --c-white : #ffffff;
    
    --c-red: #E64F59;
    --c-green : #009688;
    --c-blue : #24C8D8;

}