

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	color: var(--c-grey);
	background-color: var(--c-primary);
	font-family: var(--font-regular);
	line-height: 1.5;
}

ul li { list-style: none; list-style-type: none; }
a { text-decoration: none; }
a:hover { cursor: pointer; }

::placeholder{
	color: var(--c-grey);
}
:focus{
	color: #515365;
	border: 1px solid var(--c-grey);
}
