:root{
	--h-header : 50px;
	--w-sidebar : 220px;
	--w-notes-sidebar : 240px;

	--h-full : 100%;
	--w-full : 100%;
	--br-full : 100%;

	--h-screen : 100vh;
	--w-screen : 100vw;

	/* chatapp values  */
	--w-chatapp-sidebar: 40%;
	--h-chatapp-searchbar: 50px;
	--h-chatapp-footer : 40px;

	/* z-index layers  */
	--layer-1 : 1;
	--layer-2 : 10;
	--layer-3 : 20;
	--layer-4 : 30;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: var(--font-regular);
	background-color: var(--c-primary);
	color: var(--c-grey);
	line-height: 1.4;
}

ul li { list-style: none; list-style-type: none; }
a { text-decoration: none; }
a:hover { cursor: pointer; }


::-webkit-scrollbar {
    width: 4px;
	max-height: 50px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--c-blue-400);
}

