:root{
	--h-header : 55px;
	--w-sidebar : 220px;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	color: var(--c-grey);
	font-family: var(--font-regular);
	background-color: var(--c-primary);
}

ul li { list-style: none; list-style-type: none; }
a { text-decoration: none; }
a:hover { cursor: pointer; }


::-webkit-scrollbar {
    width: 4px;
	max-height: 50px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--c-blue-400);
}

