.app-container{
    height: 100vh;
    width: 100vw;
}

/* primary header */
.primary-header-container{
    height: 55px;
    background-color: var(--c-primary)
}
.primary-header{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    gap: 65px;
}

.logo-container{
    display: flex;
    gap: 10px;
}

.logo-icon{
    width: 34px;
    height: 34px;
}

.logo-text{
    font-size: 23px;
    font-weight: 700;
    color: var(--c-white-100);
    letter-spacing: 0.12rem;
}

.search-bar-container{
    position: relative;
}

.search-bar{
    width: 370px;
    background-color: var(--c-blue-200);
    padding: 10px 10px 10px 35px;
    border: 1px solid rgba(53, 55, 68, 0.28);
    border-radius: 6px;
}

.search-icon {
    position: absolute;
    left: 11px;
    top: 9px;
}


.header-icons-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 18px;
    position: relative;
}


/* country icon and dropdown  */
.selected-country{
    width: 20px;
    height: 20px;
}

.countries-dropdown{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 150px;
    background-color: var(--c-blue-100);
    padding: 15px 28px;
    border-radius: 5px;
    position: absolute;
    left: -70px;
    top: 45px;
    transition: position 2s;
    visibility: hidden;
}

.country-list{
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--c-grey);
    font-weight: 500;
}

.country-list:hover{
    color: var(--c-white);
}

.country-icons{
    width: 20px;
    height: 20px;
}


/* mail icon and dropdown  */
.mail-to-icon{
    font-size: 24px;
    color: var(--c-grey);
}

.mail-to-dropdown{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 14rem;
    padding: 18px 20px;
    background-color: var(--c-blue-100);
    border-radius: 5px;
    position: absolute;
    top: 45px;
    right:-7px;
    visibility: hidden;
}


.mail-to-user-list{
    display: flex;
    align-items: center;
    gap: 16px;
}

.mail-to-profile-picture{
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 3px solid rgba(81, 83, 101, 0.28);
    border-radius: 8px;
}

.user-name{
    font-family: var(--font-medium);
    font-weight: 500;
    font-size: 16px;
    color: var(--c-grey-100);
}
.message-title{
    font-size: 10px;
    color: var(--c-grey);
}

.mail-to-user-list:hover .user-name{
    color: var(--c-white)
}

/* notification icon */
.notification-btn{
    position: relative;
}

.notification-icon{
    font-size: 22px;
    color: var(--c-grey);
}

.notification-indicator{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1abc9c;
    position: absolute;
    top: 0;
    right: 0;
}

.notifications-dropdown{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 15rem;
    padding: 18px 20px;
    background-color: var(--c-blue-100);
    border-radius: 5px;
    position: absolute;
    top: 45px;
    right: 40px;
    visibility: hidden;
}

.notification-dropdown-list{
    display: flex;
    align-items: center;
    justify-content: start;
}

.notification-title{
    font-size: 14px;
    font-family: var(--font-medium);
    font-weight: 500;
    color: var(--c-grey-100);
}

.notification-sub-msg{
    color: var(--c-grey)
}

.notification-dropdown-list:hover 
.notification-title{
    color: var(--c-white-100)
}

.icon-container{
    height: 100%;
    margin-right: 14px;
}

.server-icon{
    font-size: 28px;
    color: var(--c-green);
}

.heart-icon{
    font-size: 28px;
    color : var(--c-grey)
}

.notification-dropdown-list:hover 
.heart-icon{
    color : var(--c-blue);
}

.close-icon{
    font-size: 24px;
    color: var(--c-grey-100);
    margin-left: auto;
}

.close-icon:hover{
    color : var(--c-red)
}

.file-icon{
    font-size: 28px;
    color: var(--c-red);
}

/* user profile picture  */
.profile-picture{
    border-radius: 4px;
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.profile-dropdown{
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    padding: 12px 20px;
    background-color: var(--c-blue-100);
    border-radius: 5px;
    position: absolute;
    top: 45px;
    right: -10px;
    visibility: hidden;
}

.profile-dopdown-list{
    height: 45px;
    font-size: 14px;
    color: var(--c-grey-100);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 14px;
}

.profile-icons{
    font-size: 18px;
}

.profile-dopdown-list:hover{
    color: var(--c-white)
}









.secondary-header-container{
    height: 55px;
    background-color: var(--c-secondary)
}